extends ../templates/_main.pug
include ../helpers/mixins.pug



block content
  h1.page-main__title Информирование о поступающих оплатах

  section.advantages.container
    h2.advantages__title Наши приемущества
    .advantages__inner.swiper-container
      ul.swiper-wrapper.advantages__list
        while n < 4
          -n++
          li.swiper-slide.advantages__item.advantages-slide
            .advantages__box
              h3.advantages-slide__title.title= img_name[n-1][3]
              p.advantages-slide__text= img_name[n-1][4]
              form.advantages__form.form-simple.form-simple--advantages.valid(action="#" method="post" name=(`form-simple-${n}`) id=(`form-simple-${n}`))
                p.form-simple__banner Проверьте e-mail!
                fieldset.form-simple__field
                  .form-simple__box
                    label.form-simple__label(for=(`email-${n}`)) Введите email
                    input.form-simple__input.val-elem.val-elem--email(type="text" placeholder="Введите email" name="email" id=(`email-${n}`))

                button.form-simple__btn.btn.btn--blue(type="submit") Узнать
            .advantages__picture(class=(`advantages__picture--${img_name[n-1][0]}`))
              figure.advantages__img-wrap(class=(`advantages__img-wrap--${img_name[n-1][0]}`))
                +img-retina(`${img_name[n-1][0]}`, `jpg`, `Наши приемущества`, `advantages__img advantages__img--${img_name[n-1][0]}`, `${img_name[n-1][1]}`, `${img_name[n-1][2]}`)
        -n=0

      .swiper-button-prev.advantages__prev
      .swiper-button-next.advantages__next

  section.sentence
    .sentence__inner.container
      h2.sentence__title Наше предложение
      .sentence__col-left
        figure.sentence__img-wrap
          +img-retina(`sentence`, `png`, `Наше предложение`, `sentence__img`, `519`, `326`)

      .sentence__col-right
        h3.sentence__sub-title Мы предлагаем вам простой инструмент, чтобы автоматизировать информирование о поступающих оплатах.
        p.sentence__text Бухгалтер на карантине, а директор недоступен? Ответственный сотрудник моментально узнает о&nbsp;поступлении денег на счет компании.

      .sentence__bg-wrap
        figure.sentence__bg

  section.how
    .how__inner.container
      h2.how__title.title Как это работает
      ul.how__list
        each item, i in how__list
          li.how__item(class=(`how__item--${i+1}`))
            p.how__text= item


  section.automate.container
    .automate__inner
      .automate__col-left
        h2.automate__title.title Автоматизируйте бизнес-процессы

      .automate__col-right
        p.automate__text Подключайте привычные приложения, которые вы используете в работе.
        form.automate__form.form-simple.valid#automate-form(action="#" method="post" name="automate" )
          p.form-simple__banner Проверьте e-mail!
          fieldset.form-simple__field
            .form-simple__box
              label.form-simple__label(for="automate") Введите email
              input.form-simple__input.val-elem.val-elem--email#automate(type="text" placeholder="Введите email" name="email" )

          button.form-simple__btn.btn.btn--blue(type="submit") Узнать

  section.banks
    .banks__inner.container
      h2.banks__title.title Банки и интеграции
      .banks__col-left.bank
        h3.bank__title Банки
        ul.bank__list
          li.bank__item
            figure.bank__img-wrap
              +img-retina(`point`, `jpg`, `банк точка`, `bank__img bank__img--point`, `162`, `110`)
          li.bank__item
            figure.bank__img-wrap
              +img-retina(`tinkoff`, `jpg`, `банк тинькофф`, `bank__img bank__img--tinkoff`, `173`, `77`)
          li.bank__item
            figure.bank__img-wrap
              +img-retina(`modul`, `jpg`, `банк модуль`, `bank__img bank__img--modul`, `156`, `101`)

        .bank__load.load
          figure.load__img-wrap
          p.load__text Загрузка из <b>1C</b>

      .banks__col-right.integration
        h3.integration__title Интеграции
        ul.integration__list
          li.integration__item
            figure.integration__img-wrap.integration__img-wrap--web
            p.integration__text Push-web уведомления
          li.integration__item
            figure.integration__img-wrap.integration__img-wrap--mail
            p.integration__text E-mail уведомления
          li.integration__item
            figure.integration__img-wrap.integration__img-wrap--tg
            p.integration__text Telegram

  section.whom
    .whom__inner.container
      h2.whom__title.title Для кого
      ul.whom__list
        li.whom__item
          figure.whom__img-wrap.whom__img-wrap--pot
          .whom__box
            h3.whom__sub-title Малый бизнес
            p.whom__text Скорость получения информации о&nbsp;платежах и&nbsp;минимизация издержек
        li.whom__item
          figure.whom__img-wrap.whom__img-wrap--horse
          .whom__box
            h3.whom__sub-title Стартапы
            p.whom__text Автоматизация бизнес-процессов и&nbsp;бухгалтерской рутины
        li.whom__item
          figure.whom__img-wrap.whom__img-wrap--lamp
          .whom__box
            h3.whom__sub-title Разработчики
            p.whom__text Быстрое внедрение своих приложений для малого бизнеса и&nbsp;стартапов

  section.cases.container
    h2.cases__title.title Кейсы
    .cases__inner.swiper-container
      ul.cases__list.swiper-wrapper
        li.cases__item.swiper-slide.case
          a.case__link(href="/case.html")
            .case__box
              figure.case__img-wrap.case__img-wrap--bitrix
              figure.case__img-wrap.case__img-wrap--everypay
              figure.case__img-wrap.case__img-wrap--tg

            p.case__text Автоматизация диджитал-агентства
            p.case__pseudo-link Читать кейс
        li.cases__item.swiper-slide.case
          a.case__link(href="/case.html")
            .case__box
              figure.case__img-wrap.case__img-wrap--bitrix
              figure.case__img-wrap.case__img-wrap--everypay
              figure.case__img-wrap.case__img-wrap--point

            p.case__text Приём платежей в&nbsp;рекламной медиа-группе
            p.case__pseudo-link Читать кейс
        li.cases__item.swiper-slide.case
          a.case__link(href="/case.html")
            .case__box
              figure.case__img-wrap.case__img-wrap--bitrix
              figure.case__img-wrap.case__img-wrap--everypay
              figure.case__img-wrap.case__img-wrap--point

            p.case__text Оптимизация бухгалтерии в&nbsp;производственной компании
            p.case__pseudo-link Читать кейс

      .swiper-pagination.cases__pagination

  section.trifs
    .trifs__inner.container
      h2.trifs__title.title.tablet-visibility Тарифы
      .trifs__col-left
        h2.trifs__title.title.tablet-hidden Тарифы
        p.trifs__text Everypay находится в стадии закрытого beta-теста, но у вас есть возможность присоединиться к тестированию сервиса.
        p.trifs__text Для компаний, участвующих в тестировании, сервис  навсегда бесплатен. Напишите нам и мы с вами свяжемся.
        form.trifs__form.form-simple.valid#trifs-form.tablet-hidden(action="#" method="post" name="trifs" )
          p.form-simple__banner Проверьте e-mail!
          fieldset.form-simple__field
            .form-simple__box
              label.form-simple__label(for="trifs") Введите email
              input.form-simple__input.val-elem.val-elem--email#trifs(type="text" placeholder="Введите email" name="email" )

          button.form-simple__btn.btn.btn--blue(type="submit") Узнать
      .trifs__col-right
        figure.trifs__img-wrap
          +img-retina(`trifs`, `jpg`, `Тарифы`, `trifs__img`, `461`, `473`)

      form.trifs__form-tablet.form-simple.valid#trifs-form-tablet(action="#" method="post" name="trifs-tablet" )
        p.form-simple__banner Проверьте e-mail!
        fieldset.form-simple__field
          .form-simple__box
            label.form-simple__label(for="trifs-tablet") Введите email
            input.form-simple__input.val-elem.val-elem--email#trifs-tablet(type="text" placeholder="Введите email" name="email" )

        button.form-simple__btn.btn.btn--blue(type="submit") Узнать

  section.soon
    .soon__inner.container
      h2.soon__title.title Скоро появится
      ul.soon__list

        li.soon__item.soon-item
          .soon-item__col-left
            h3.soon-item__title Интеграции с CRM-системами Битрикс 24 и&nbsp;amoCRM
          .soon-item__col-right
            p.soon-item__text Интегрируйте уведомления о платежах прямо в вашу CRM, в которой работают ваши сотрудники
            .soon-item__box
              figure.soon-item.soon-item--bitrix
              figure.soon-item.soon-item--crm

        li.soon__item.soon-item
          .soon-item__col-left
            h3.soon-item__title Открытое API Everypay
          .soon-item__col-right
            p.soon-item__text Подключайте свои системы и интегрируйте уведомления о поступающих платежах самостоятельно с помощью простого API Everypay


        li.soon__item.soon-item
          .soon-item__col-left
            h3.soon-item__title Автоматическое создание платежек
          .soon-item__col-right
            p.soon-item__text Загрузите скан счета на оплату в нашу систему и в банк-клиенте автоматически будет создано платежное поручение на основании данных из счета. С помощью технологий компьютерного зрения и машинного обучения мы достигаем высокой точности и скорости работы

      button.soon__btn.hover-opacity(type="button") И еще 17 нововведений

  section.safety
    .safety__inner.container
      .safety__col-left
        figure.safety__img-wrap
          +img-retina(`safety`, `jpg`, `Безопасность`, `safety__img`, `422`, `360`)

      .safety__col-right
        h2.safety__title.title Безопасность
        p.safety__text Использование Everypay полностью безопасно: подключение к банковскому счету осуществляется в режиме «только для получения выписок», а хранение информации в системе защищено и&nbsp;деперсонализировано.

  section.connect
    .connect__inner.container
      h2.connect__title.title Подключиться
      .connect__col-left
        p.connect__text Хотите начать пользоваться системой? Напишите нам.
        a.connect__link.hover-opacity(href="mailto:hello@everypay.io") email
        p.connect__text hello@everypay.io

      .connect__col-right
        form.connect__form.form-big.valid#connect-form(action="#" method="post" name="connect" )
          fieldset.form-big__field
            .form-big__box
              label.form-big__label(for="connect-name") Ваше имя
              input.form-big__input.val-elem.val-elem--name#connect-name(type="text" placeholder="Ваше имя*" name="name" )
            .form-big__box
              label.form-big__label(for="connect-email") Введите email
              input.form-big__input.val-elem.val-elem--email#connect-email(type="text" placeholder="Email*" name="email" )
            .form-big__box
              label.form-big__label(for="connect-text") Расскажите о своей компании*
              textarea.form-big__textarea#connect-text.val-elem.val-elem--textarea(name="connect-text", cols="", rows="1" placeholder="Расскажите о своей компании*")

          button.form-big__btn.btn.btn--blue(type="submit") Подключиться

  section#modal-1.success-modal
    .success-modal__inner
      h2.success-modal__title Спасибо!
      p.success-modal__text Мы приняли ваш запрос.
      p.success-modal__text В ближайшее время наш специалист поддержки свяжется с вами.
      button.success-modal__btn.btn.btn--blue(type="button") закрыть
